body {
	scrollbar-arrow-color: #393e60;
	scrollbar-face-color: #dadce9;
	background-color: aliceblue;
	scrollbar-darkshadow-color: #8c92bc;
	font-family: "Î¢ÈíÑÅºÚ", "", "Helvetica", "sans-serif";
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #dadce9;
	font-size: 14px;
	scrollbar-track-color: #ecedf3;
	scrollbar-3dlight-color: #cbcee0
}

.buttonStyle {
	background-image: url(../img/buttonbg.jpg);
	border-bottom: medium none;
	min-width: 63px;
	border-left: medium none;
	height: 25px;
	color: #ffffff;
	font-size: 12px;
	border-top: medium none;
	cursor: hand;
	border-right: medium none;
	width: 50px;
	width: 37px;
	height: 52px;
}

td_beiyong {
	font-family: "Î¢ÈíÑÅºÚ", "", "Helvetica", "sans-serif";
	font-size: 12px
}

.BODY_otherclr {
	scrollbar-arrow-color: #393e60;
	scrollbar-face-color: #dadce9;
	background-color: lightskyblue;
	scrollbar-darkshadow-color: #8c92bc;
	font-family: "Î¢ÈíÑÅºÚ", "", "Helvetica", "sans-serif";
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #dadce9;
	font-size: 14px;
	scrollbar-track-color: #ecedf3;
	scrollbar-3dlight-color: #cbcee0
}

.td_right {
	height: 30px;
	text-align: right;
}